@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

.work-sans-font {
    font-family: "Work Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
  }

/* shared style */
.display-flex{
    display: flex;
}
.dark-2{
    color: #424242;
}
.bg-light{
    background-color: rgba(255, 144, 14, 0.1);
}
.btn-primary{
    background-color: rgba(255, 144, 14, 1);
    color: rgba(255, 255, 255, 1);
    padding: 20px 25px;
    font-weight:600;
    font-size: 1.25rem;
    border: none;
    border-radius: 8px;    
}
/* nav bar style */
.nav-bar{
    justify-content: space-between;
    align-items: center;
}
/* nav menu style */
.nav-menu{

}
.nav-item{
    list-style: none;
}
.nav-links{
    text-decoration: none;
    margin-right: 30px;
    font-weight: 500;
    font-size: 18px;
}
.brand-name{
    font-weight: 700;
    font-size: 3rem;
}
.banner, .nav-bar{
    max-width: 1440px;
    margin: 0 auto;
}
/* header style */
.container{
    max-width: 850px;
    margin: 0 auto;
    text-align: center;
    margin-bottom: 50px;
}
.banner-title{
    font-weight: 700;
    font-size: 4rem;

}
.banner-image{
    max-width: 100%;
}
/* display responsive */
@media screen and (max-width : 576px) {
    .nav-bar,.nav-menu{
        flex-direction: column;
    }
}